@use './variable.scss' as *;

main {   
    width: 100%;
    /**********************메인 1행 배너 START****************************/    
    #main_banner {
        width: 100%;
        margin-top: $header_height;
        margin-bottom: 120px;
        #banner_slide {
            width: 100%;            
            .swiper-wrapper {
                width: 100%;                
                .swiper-slide {                   
                    width: 100%;             
                    height: 620px;       
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    &.slide1 { background-image: url(../image/main_banner1.png); }
                    &.slide2 { background-image: url(../image/main_banner2.png); }
                    &.slide3 { background-image: url(../image/main_banner3.png); }
                    a {                        
                        display: flex;
                        align-items: center; 
                        height: 100%;
                        width: 100%;
                        .banner_text {
                            display: flex;
                            flex-flow: column wrap;
                            width: 100%;
                            padding: 0 240px;                            
                            gap: 35px;
                            .text_new{
                                font-size: 20px;
                                font-weight: 700;
                                color: #376440;
                                padding: 5px 10px;
                                border: 1px solid #000;
                                width: fit-content;
                            }
                            img{
                                width: 155px;
                                height: 65px;
                            }
                            h3 {
                                font-size: 48px;
                                font-weight: 700;   
                                .m_br {
                                    display: none;
                                }   
                            }
                            p{
                                font-size: 18px;
                                line-height: 150%;                            
                            }
                        }
                    }
                }
            }            
        }
    }
}

@media (max-width: 1024px) {
    main{
        width: 100%;
        #main_banner {
            margin-bottom: 60px;
            #banner_slide {
                .swiper-wrapper {
                    .swiper-slide {
                        height: 500px;
                        a {
                            .banner_text {
                                padding: 0 40px;
                                .text_new{
                                    font-size: 14px;
                                }
                                img{
                                    width: 97px;
                                    height: 40px;
                                }
                                h3 {
                                    font-size: 32px;                                    
                                }
                                p {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: 767px) {
    main{
        #main_banner {
            margin-bottom: 30px;
            #banner_slide {
                .swiper-wrapper {
                    .swiper-slide {
                        height: 300px; // 모바일 슬라이드 높이
                        a {
                            .banner_text {
                                padding: 0 15px; // 좌우 패딩 15px
                                gap: 20px;

                                .text_new {
                                    font-size: 12px;                                    
                                }

                                img {
                                    width: 60px;
                                    height: 20px;
                                }

                                h3 {
                                    font-size: 17px;
                                    line-height: 130%;
                                    .m_br {
                                        display: block;
                                    }
                                }
                                p {
                                    font-size: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
