$header_height:71px;
$header_fixed_color:#0A0F14;
$header_font_color:#F1F1F1;
$header_search_color:#333;
$header_search_font_color:#666;
$main_camp_font_color:#555;
$color_light_gray:#C7C7C7;
$color_white:#FFF;
$footer_color:#F0F0F0;

@mixin product_font_L{
    //35px Bold
    font-size:2.188rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}

@mixin review_dd{
    //26px Regular
    font-size:1.5rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}

@mixin product_font_M{
    //25px Bold
    font-size:1.563rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}

@mixin footer_call_center{
    //24px Medium
    font-size:1.5rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
}

@mixin product_review_t{
    //20px Regular
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}

@mixin header_sub_menu_title{
    //18px Semibold
    font-size: 1.125rem;
    font-weight: 600;
    color: $color_white;
    letter-spacing: -0.02rem;
}

@mixin product_find_h{
    //18px Regular
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}

@mixin review_dt{
    //17px Regular
    font-size:1.0625rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}

@mixin order_total{
    //16px Regular
    font-size:1rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}
@mixin product_category_font{
    //15px Regular
    font-size:0.938rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}
@mixin product_text_C{
    //14px Regular
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
    color: $main_camp_font_color;
    letter-spacing: -0.02rem;
}
@mixin product_name_font{
    //14px Regular
    font-size:0.875rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}
@mixin footer_info{
    //14px Regular
    font-size:0.875rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    color: #555;
}
@mixin footer_call_time{
    //13px Regular
    font-size: 0.813rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.02rem;
}
@mixin header_sub_menu_product{
    //13px Regular
    font-size: 0.813rem;
    font-weight: 400;
    color: #B2B2B2;
    letter-spacing: -0.02rem;
}
@mixin product_dcSell_font{
    //13px Medium
    font-size:0.813rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
}
@mixin product_find_t{
    //13px Medium
    font-size:0.813rem;
    font-weight: 500;    
    letter-spacing: -0.02rem;
}
@mixin product_dcOff_font{
    //13px Regular
    font-size:0.813rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    color: #FF5C47;
}
@mixin footer_copy{
    //13px Regular
    font-size:0.813rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    color: #555;
}

@mixin product_normalSell_font{
    //12px Regular
    font-size:0.75rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    color: #B1B1B1;
}

@mixin product_tag_font{
    //10px Regular
    font-size:0.625rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    background: #EEE;
    color: #000;
    padding: 4px;
    display: inline-block;
}

@mixin color_box{
    width: 12px;
    height: 12px;
    border: 1px solid #ddd;
    border-radius: 50%;    
}



